<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
    
    {%if session['cart'] == true:%}
   <table class="table col-6 mx-auto my-5">
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Artist</th>
        <th>Action</th>
    </tr>
    {%for order in orders:%}
    <tr>
        <td>{{order.merchs.title}}</td>
        <td>{{order.merchs.price}}</td>
        <td>{{order.artists.name}}</td>
        <td>
        <form action="delete_from_cart/{{order.merchs.id}}" method="POST">
            <button>delete</button>
        </form></td>
    </tr>
        <a href="/place_order/{{order.artists.id}}">Place Order</a>
    {%endfor%}
      {%endif%}
    </table> 
    </main>
    <footer>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>